body {
	width: 700px;
	margin: 0px auto;
	border: 1px solid black;
}

div h3 {
	text-align: center;
	text-decoration: underline;
}

div a {
	text-align: right;
}

div a:hover, div h3:hover {
	color: red;
}