.mainDiv{
			width: 700px;
			margin: 0px auto;
}
legend {
	     font-style: italic;
}
fieldset{
	
	padding: 2em;
	border-radius: 3em;
	background-color: #dadada;
	color: black;
	border: 40px solid #dadada;
}
.divTable{
			width: 500px;
			margin: 0px auto;
}

table {
		width: 500px;
}
table tbody tr input{
		width: 100%;
		border-radius: 2em;
		line-height: 2em;
		padding-left: 2em;
}
.btn{
	  width: 50%;
	  border-radius: 3em;
	  text-align: center;
	  margin-left: 200px;
}