@charset "ISO-8859-1";

div {
	width: 500px;
	margin: 0px auto;
	border: 1px solid black;
	padding: 10px 10px;
	background-color: maroon;
}

table {
	background-color: #00b3b3;
	width: 500px;
}

tfoot {
	text-align: center;
}