body{
		width:700px;
		border: 1px solid black;
		margin: 5px auto;
}

.mainDiv{
			background: rgb(181,189,200);
background: -moz-linear-gradient(top,  rgba(181,189,200,1) 0%, rgba(130,140,149,1) 36%, rgba(40,52,59,1) 100%);
background: -webkit-linear-gradient(top,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
background: linear-gradient(to bottom,  rgba(181,189,200,1) 0%,rgba(130,140,149,1) 36%,rgba(40,52,59,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b5bdc8', endColorstr='#28343b',GradientType=0 );

color:white;
						
}

div ul,div ol{
	padding-left: 1.5em;	
}
div ul ol,div ol ul{
	padding-left: 1em;
}
div a{
	color:white;
}

div a:hover {
	color: orange;
	
}