body{
	margin: 0px auto;
	width: 780px auto;
	border: 1px solid silver;
	padding: 0.5em;
	border-radius: 2px;
	margin-top: 10px auto;
}

table,tr,td{
	border-collapse:collapse;
	
}
tr,td{
	border-bottom: 1px solid black;
    padding: 0.5em;
}

.outerBorder{
	
	text-align:center;
	margin-left: 100px;
	margin-right: 250px;
	margin-top: 100px;
	border-radius: 2em;
	border: 1px solid black;
	border-color: #b9c9bb;
	background-color: rgba( );
}
form{
	padding : 5em;
	/* margin-left: 100px;
	margin-right: 100px;
	margin-top: 10px; */
}
.subTag{
	position:fixed;
	margin-left: 220px;
	margin-right: 100px;
	margin-top: -290px;	
}
.image{
	float:right;
}