@charset "ISO-8859-1";
.main{
	background-color:#6d788a;
	color:white;
		   
}

body{
	    background-color:olive;
	    background-image: url(../images/download.jpg);
	    background-size: 450px 450px;
	    background-position:center;
	    background-attachment:fixed;
		width: 500px;
		border: 5px solid #344663;
		margin:10px auto;
		border-radius: 1em 1em 1em 1em;
		box-shadow: 1em 0.5em 1em 1em #4d658c;
		
}
h5,h2{
	font-family:sans-serif;
	color:lime;
	text-align: center;
	text-decoration: underline;
}
footer{
	padding: 1em;
	text-align: center;
	font-weight: bold;
	font-size: 10pt;
}