body{
		width: 900px;
		margin: 0px auto;
		border: 1px solid #d4cecd;
		border-radius:15px;
		margin-top:15px;
		height: 0px auto;
		
		/* background: #8f9fa6; */
}

header{
		text-align: center;
		font-size: 50px;
}
section{
	  border-top: 1px solid #d4cecd;
}
/*  to work for drop down list*/
nav ul{
		position: relative;
}
nav ul ul{
	position: absolute;
	display: none;
}

nav ul ul li{
		clear: both;
		margin: 2px;
}
nav ul li:hover > ul{
	display: block;
}

/* End working for dropdown List  */
  nav ul li a{
  		text-decoration: none;
  		color: white;
  }
  nav ul ul li{
  		text-decoration: none;
  		color: white;
  }
nav ul li{
	list-style-type: none;
	margin:5px;
	width:100px;
	border-radius:2em;
	text-align: center;
	padding: 5px 0px;
	line-height: 10px;
	background-color: #4e6873;
	float: left;
}
nav ul li a:hover {
	color : black;
}
nav ul li:hover {
	background-color : silver;
}
section,section h3{
			color: black;
}