@charset "utf-8";
/* CSS Document */
/*.FirstClass {
	font-size: 13px;
	color: red;
}*/

.FirstClass, .FirstClass a {/* this line uses <a> element inside <p> element and to make <a> element link color same as <p> element link color */
	text-decoration: none;  /*  then use  syntax :- .FirstClass a along with .FirstClass */
	color: red;
	font-size: 13px;
}

#section {
	background-color: rgba(252,238,44,0.88);
	padding-left: 50px;
	border: 1px solid black;
	width: 400px;	
}
footer{
	text-decoration:overline;
	text-shadow: green;
}
@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');

@font-face{
	font-family: 'abc';
	src: url("fonts/COURE.FON");
}

div{
	font-family: 'abc';
}