table {
	border: 0px solid black;
	border-collapse: collapse;
	width: 900px;
	margin: 0px auto;
}

tbody {
	background-color: #98cbb7;
	color: white;
}

th, td {
	border: 0px solid black;
	border-collapse: collapse;
}

thead th {
	background-color: #408080;
	color: white;
}

caption, tfoot {
	background-color: #008080;
	color: white;
}

caption {
	border-bottom: 1px solid white;
}

tbody, tfoot>tr>td {
	text-align: center;
	font-size: 10pt;
}

tfoot {
	font-weight: bold;
}