/* @media queries start*/
/*  This will work fine in IE browser*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.mainDiv {
		width: 100%;
		margin: 0px auto;
		border: 2px solid orange;
		background-color: white;
		line-height: 2em;
		font-family: verdana;
	}
	section {
		width: 100%;
		padding: 8px;
		font-size: 8pt;
		/* float: left; */
	}
	aside {
		width: 100%;
		margin: 15px 20px 10px 10px;
		font-size: 6pt;
		/* float: right; */
		background-color: #f5e79f;
		margin: 15px 20px 10px 10px;
	}
}

@media only screen and (min-width: 424px) and (max-width: 768px) {
	.mainDiv {
		width: 100%;
		margin: 0px auto;
		border: 2px solid orange;
		background-color: red;
		line-height: 2em;
		font-family: verdana;
	}
	section {
		width: 100%;
		padding: 8px;
		font-size: 8pt;
		/* float: left; */
	}
	aside {
		width: 100%;
		margin: 15px 20px 10px 10px;
		font-size: 6pt;
		/* float: right; */
		background-color: #f5e79f;
		margin: 15px 20px 10px 10px;
	}
}

@media only screen and (min-width: 300px) and (max-width: 425px) {
	.mainDiv {
		width: 100%;
		margin: 0px auto;
		border: 2px solid orange;
		background-color: yellow;
		line-height: 2em;
		font-family: verdana;
	}
}

/* @media queries end*/
img {
	width: 80px;
	height: 80px;
}

body {
	background: #fefcea;
	background: -moz-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	background: -webkit-linear-gradient(top, #fefcea 0%, #f1da36 100%);
	background: linear-gradient(to bottom, #fefcea 0%, #f1da36 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea',
		endColorstr='#f1da36', GradientType=0);
}

header {
	border-bottom: 2px solid orange;
	padding: 0.8em;
}

header img {
	float: left;
	padding: 1em auto;
}

header h3 {
	font-family: verdana;
	font-size: 15pt;
	margin: 0px auto;
	color: orange;
	text-shadow: 1px 1px #000000;
}

header h3 span {
	font-family: sans-serif;
	font-size: 11pt;
	font-style: italic;
	color: black;
}

section {
	width: 300px;
	padding: 8px;
	font-size: 8pt;
	float: left;
}

section h1 {
	font-size: 13pt;
	margin: 0px auto;
	color: #400040;
}

section ul, section p {
	line-height: 15px;
}

section ul a {
	color: #b34a2b;
}
/*  
	<aside> element
*/
aside {
	width: 250px;
	margin: 15px 20px 10px 10px;
	font-size: 6pt;
	float: right;
	background-color: #f5e79f;
	margin: 15px 20px 10px 10px;
}

aside h3, aside h5 {
	line-height: 1px;
}

aside h5, aside p {
	line-height: 9px;
}

aside h5 {
	color: #b34a2b;
}

footer {
	clear: both;
}

footer {
	border-top: 2px solid orange;
	text-align: right;
	font-size: 7pt;
	font-weight: bold;
}