span{
	
	   vertical-align:500px;
	   /* margin-left:450px; */
	   width: 500px;
	   height: 500px;
}
.image{
		position:relative;
		top:100px;
		left:150px;
	    size: 300px;
}
.mainDiv{
			width: 700px;
			margin: 0px auto;
}
