body{
	
			width: 500px;
			margin: 0px auto;
}
.cols{
		width: 500px;
		text-align: center;
}
table,tr,td{
				border: 1px solid #dbdbdb;
				border-collapse: collapse;
				border-radius: 1em;
}
div{
	  background-color: green;
	  width: 100px;
	  height: auto;
	  color: white;
	  padding: 15px;
	  transition: width 2s;
}
div:hover {
	width:310px;
}
.trans1{transition-timing-function:linear;}
.trans2{transition-timing-function:ease;}
.trans3{transition-timing-function:ease-in;}
.trans4{transition-timing-function:ease-out;}
.trans5{transition-timing-function:ease-in-out;}